body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

.settings {
    position: absolute;
    top: 47px;
    left: 290px;
    padding: 10px;
    background-color: #eee;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 77vw;
    height: 88vh;
    text-align: center;
}

.settings h1 {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-left: 30px;
    letter-spacing: 5px;
    font-size: 50px;
    color:#502779;
}

.settings p {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #b2b2b2;
    font-size: 30px;
}

.change {
    position: absolute;
    top: 85%;
    left: 46%;
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color:#502779;
    color: white;
}

.change:hover{
    background-color:#F8AACF;
    color: black;
}

.settings input[type="password"] {
    margin: 0;
    padding: 15px;
    padding-left: 15px;
    margin-top: 15px;
    margin-left: 30px;
    font-size: 22px;
    width: 45vw;
}

label{
    font-size: 18px;
    margin-left: 32px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    color: #AD53A6;
}