body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin-left: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    margin-left: 12%;
    max-width: 81%;
    width: 100vw;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.discount-title {
    color: #AD53A6;
    margin-bottom: 16px;
    align-self: flex-start;
    margin-left: 14.5%;
    letter-spacing: 3px;
}

.container h2{
    color:#502779;
}

form {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #AD53A6;
}

form input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 98%;
}

.btnAll {
    padding: 10px 20px;
    background-color: #502779;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnAll:hover {
    background-color:#F8AACF;
    color: black;
}

table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #502779;
    color: white;
}

.notification {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.notification.success {
    background-color: #4CAF50;
    color: white;
}

.notification.error {
    background-color: #f44336;
    color: white;
}

.edit-discount{
    border: none;
    background-color: white;
}

.edit-discount i{
    padding: 5px 10px 5px 10px;
    width: max-content;
    font-size: 1.2rem;
    border-radius: 5px;
    color: #AD53A6;
    height: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-discount i:hover {
    color: #502779;
}
