body{
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: Arial;
    background-color: #fdfdff;
}

.container-content video{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 120vh;
    height: 101vh;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.forgot-label{
    position: absolute;
    top: 15%;
    left: 65%;
    font-size: 50px;
    font-weight: bold;
    color: #AD53A6;
}

.new-password{
    position: absolute;
    top: 30%;
    left: 75%;
    font-size: 20px;
    font-weight: bold;
}

.email-label{
    position: absolute;
    top: 43%;
    left: 71%;
    font-size: 20px;
}

.container-content input[type="email"]{
    position: absolute;
    top: 52%;
    left: 62%;
    width: 500px;
    height: 50px;
    font-size: 18px;
    padding-left: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.container-content input[type="submit"]{
    position: absolute;
    top: 63%;
    left: 81%;
    height: 35px;
    width: 220px;
    color: white;
    background-color: #502779;
    border: none;
    border-radius: 10px;
}

.container-content input[type="submit"]:hover{
    background-color:#F8AACF;
}

.container-content a button{
    position: absolute;
    top: 63%;
    left: 64%;
    height: 35px;
    width: 220px;
    color: white;
    background-color: #502779;
    border: none;
    border-radius: 10px;
}

.container-content a button:hover{
    background-color:#F8AACF;
}