
body {
    font-family: Arial, sans-serif;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: left;
    letter-spacing: 3px;
    margin-top: 20px;
    color: #AD53A6;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
}

th, td {
    text-align: center;
}

th {
    background-color: #502779;
    color: white;
}

img {
    width:20vw;
    height:60vh;
}

