    *{
    scroll-behavior: smooth;
    }

    body{
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        height: 110.5vh;
        box-sizing: content-box;
        transition: background-color 0.5s ease;
        overflow-x: hidden;
    }

    .settings{
        width: 90vw;
        height: max-content;
        text-align: center;
        margin: 1% auto 1% auto;
        background-color: #fff;
        padding: 1rem;
        border-radius: 0.4rem;
        /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    }

    .settings h1 {
        margin: 0;
        padding: 0;
        letter-spacing: 5px;
        font-size: 40px;
        color: #AD53A6;
    }

    .settings p {
        margin: 0;
        padding: 0;
        margin-top: 10px;
        margin-left: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #b2b2b2;
        font-size: 20px;
    }

    .settings input[type="password"] {
        margin: 0;
        padding: 15px;
        padding-left: 15px;
        margin-top: 15px;
        margin-left: 30px;
        font-size: 22px;
        width: 45vw;
    }

    .settings label {
        font-size: 18px;
        margin-left: 32px;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 3px;
        color: #AD53A6;
    }

    .settings button {
        padding: 10px 60px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border: none;
        border-radius: 5px;
        background-color: #502779;
        color: white;
    }

    .settings button:hover{
        background-color: #F8AACF;
        color: black;
    }